# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Django
*.env
*.local_settings.py
db.sqlite3
media/
static/
staticfiles/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Logs
*.log
logs/
debug.log

# Testing and Coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
coverage/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Distribution and Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.wheel
pip-wheel-metadata/

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints/

# Celery
celerybeat-schedule
celerybeat.pid

# Git
*.orig
